*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}

.container{
display:grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 2fr 15fr 1fr ;
}

.adopt-container{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.adopt-header{
    text-align: center;
    color: black;
}

.adopt-imgsA{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    position: relative;
    top: 50px;
}

.donate-container{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.donate-header{
    text-align: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-nodot{
    list-style-type: none;
    font-size: 20px;
}

.home-container{
    grid-column: 1 / 3;
}

.home-header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: black;
}

.home-main{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 700;
}

.homeImgComp-container{
    grid-column: 1 / 3;
}

.homeImgComp-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.header-container{
    overflow: hidden;
    background-color: cadetblue;
    padding: 20px 0px 10px 60px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.header-container a:link{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header-container .header-h1{
    color: indianred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
  font-weight: bold;
}

.header-container a:link:hover{
    background-color: #ddd;
    color: black;
}

.header-container a:link:active{
    background-color: dodgerblue;
  color: white;
}

.navbar{
    float: right;
}

.app-footer{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:cadetblue;
}

@media (max-width: 500px){
    .header-container a:link{
        float: none;
        display: block;
        text-align: left;
    }

    .navbar{
        float: none;
    }

    .adopt-imgsA{
       display: block;
    }

    .app-footer{
        position: relative;
        top: 150px;
    }
}