*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}

.container{
display:grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 2fr 15fr 1fr ;
}

.adopt-container{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.adopt-header{
    text-align: center;
    color: indianred;
}

.adopt-imgsA{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    position: relative;
    top: 50px;
}



.donate-container{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.donate-header{
    text-align: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-nodot{
    list-style-type: none;
    font-size: 20px;
}

.home-container{
    grid-column: 1 / 3;
}

.home-header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: indianred;
}

.home-main{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 700;
}

.homeImgComp-container{
    grid-column: 1 / 3;
}

.homeImgComp-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: ivory;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color:cadetblue;
}

a:link{
    color: indianred;
    text-decoration: none;
    font-size: 25px;
    background-color: transparent;
}

.app-h1{
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:indianred;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
}

.app-footer{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:cadetblue;
}